@tailwind base;
@tailwind components;
@tailwind utilities;
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
 @layer base{
  ul,ol,li{
    list-style: revert;
    font-size: medium;
  }
  p{
    font-size: medium;
  }
 }